{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Base</title>
</head>
<body>
    <h1>{% if request.user.is_authenticated %}</h1>
    <div id="nav-login">
        <a id="logoutBtn" href="{% url 'account:logout' %}">Logout, {{ request.user }}</a>

    </div>
    {% else %}
    <div id="nav-login">
        <a href="{% url 'account:login' %}">Log in</a>
        <a href="{% url 'account:register' %}">Create Account</a>
    </div>
    {% endif %}

    
    <nav id="nav-bar">
            <a href="/">Home</a>
            <a href="{% url 'tune:about' %}">About</a>
            <a href="{% url 'tune:create' %}">Add Tune</a>
            <a href="{% url 'tune:index' %}">All Tunes</a>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>