{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@400;500;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Base</title>
</head>
<body>
    <div id="holder">
    {% if request.user.is_authenticated %}
    <nav id="nav-bar">
        <div id="homeBtnDiv">
            <a href="/">Tune Collector</a>
        </div>
        <div id="navDiv">
            <a href="{% url 'tune:about' %}">About</a>
            <a href="{% url 'tune:create' %}">Add Tune</a>
            <a href="{% url 'tune:index' %}">All Tunes</a>
        </div>
        <div id="nav-login">
            <a id="logoutBtn" href="{% url 'account:logout' %}">Logout</a>
        </div>
    </nav>
    {% else %}

    <nav id="nav-bar">
        <div id="homeBtnDiv">
            <a href="/">Tune Collector</a>
        </div>
        <div id="navDiv">
            <a href="{% url 'tune:about' %}">About</a>
            <a href="{% url 'tune:create' %}">Add Tune</a>
            <a href="{% url 'tune:index' %}">All Tunes</a>
        </div>
        <div id="nav-login">
            <a id="loginBtn" href="{% url 'account:login' %}">Login</a>
        </div>
    </nav>
    {% endif %}

<!--     
    <nav id="nav-bar">
            <a href="/">Home</a>
            <a href="{% url 'tune:about' %}">About</a>
            <a href="{% url 'tune:create' %}">Add Tune</a>
            <a href="{% url 'tune:index' %}">All Tunes</a>
    </nav> -->

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    </div>
</body>
</html>