{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@400;500;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div id="holder">
    
    <nav id="nav-bar">
        <div id="homeBtnDiv">
            <a id="tuneCollector" href="/">Tune Collector</a>
        </div>
        <div id="navDiv">
            <a href="{% url 'account:index' %}">Users </a>
            <p>|</p>
            <a href="{% url 'tune:create' %}">Add Tune</a>
            <p>|</p>
            <a href="{% url 'tune:index' %}">All Tunes</a>
            <br>

            {% if request.user.is_authenticated %}
                <div id="nav-login">
                    <a id="logoutBtn" href="{% url 'account:logout' %}">Logout</a>
                </div>
            {% else %}
                <div id="nav-login">
                    <a id="loginBtn" href="{% url 'account:login' %}">Login</a>
                </div>
            {% endif%}
        </div>
    </nav>
  

    <main class="container">
        {% include 'messages.html' %}
        {% block content %}
        {% endblock %}
        {% include 'form_errors.html' %}
    </main>
    </div>
</body>
</html>