{% extends 'base.html' %}
{% block content %}
{% load static %}

<h2 id="homeTitle">Welcome to Tune Collector</h2>
<p id="welcomeMsg">Store all your tunes away so you never forget them!</p>

{% if request.user.is_authenticated == False %}
    <div id="buttonHome"> 
        <button id='registerBtn' type="submit"><a href="{% url 'account:register' %}">Register An Account</a></button>
        <!-- <button id='registerBtn' type="submit"><a href="{% url 'tune:about' %}">Learn More About Us </a></button> -->
    </div>
{% else %}
    <div id="buttonHome"> 
        <button id='registerBtn' type="submit"><a href="{% url 'tune:about' %}">Learn More About Us </a></button>
    </div>
{% endif %}

<!-- <img id='homepageImg' src="https://upload.wikimedia.org/wikipedia/commons/2/22/TheSkilletLickers.jpg"> -->
<img id="homepageImg" src="{% static 'css/imgs/The Band - Violin.svg'%}"
{% endblock %}