{% extends 'base.html' %}
{% load tune_extras %}
{% block content %}

{% if avail_keys %}
  <div id="hamDiv">
    <div id="hamLinks">
      <a href="javascript:void(0)" id="closeBtn" onclick="closeNav()">&times;</a>

        {% for key in avail_keys %}
          <a href="?{% set_param request 'key' key %}">{{ key }} Tunes</a>
        {% endfor %}

        <a href="?{% set_param request 'sort' 'name' %}">name</a>
        <a href="?{% set_param request 'sort' 'stars' %}">stars</a>


    </div>
  </div>
{% endif %}


<script>
function openNav() {
  document.getElementById("hamDiv").style.width = "60%";
}

function closeNav() {
  document.getElementById("hamDiv").style.width = "0%";
}
</script>


<div id="titleAndDrop">
  <h2>{{ user.username }}'s, {{ title }} Tunes</h2>
  <svg id="hamBtn" onclick="openNav()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg>
</div>

{% for tune in tunes %}
<a href="{% url 'tune:detail' tune.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ tune.name }}</span>
      <p>Key: {{ tune.key }}</p>
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}