{% extends 'base.html' %}
{% block content %}

<h2>Detail Page</h2>

<a href="/tunes/{{ tune.id }}">
  <div class="card-detail">
    <div class="card-content-detail">
      <span class="card-title-detail">Name {{ tune.name }}</span>
      <hr>
      <p>Key: {{ tune.key }}</p>
      <p>Fiddler: {{ tune.fiddler }}</p>
      <p>Notes: {{ tune.description }}</p>
    </div>
  </a>
    <div class="card-action">
      <a href="{% url 'tune:tunes_update' tune.id %}">Edit</a>
      <a href="{% url 'tune:tunes_delete' tune.id %}">Delete</a>
    </div>
  </div>
  



{% endblock %}