{% extends 'base.html' %}
{% load tune_extras %}
{% load static %}
{% block content %}

{% if avail_keys %}
  <div id="hamDiv">
    <div id="hamLinks">
      <a href="javascript:void(0)" id="closeBtn" onclick="closeNav()">&times;</a>


        {% for key in avail_keys %}
          <a href="?{% set_param request 'key' key %}">{{ key }} Tunes</a>
        {% endfor %}

        <a href="?{% set_param request 'sort' 'name' %}">name</a>
        <a href="?{% set_param request 'sort' 'stars' %}">stars</a>
        <a href="?{% set_param request 'sort' 'created_at' %}">recent</a>

    </div>
  </div>
{% endif %}


<script> 
function openNav() {
  document.getElementById("hamDiv").style.width = "60%";
}

function closeNav() {
  document.getElementById("hamDiv").style.width = "0%";
}
</script>

<div id="indexDiv">
  <div id="titleAndDrop">
    <h2 id="titleIndex">{{ title }} Tunes</h2>
    <img id="hamBtn" onclick="openNav()"  src="{% static 'imgs/list.svg' %}">
  </div>
  {% for tune in tunes %}
  <a href="{% url 'tune:detail' tune.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
        {% if is_mobile %}
          {{ tune.get_display_name_mobile }} |
        {% else %}
          {{ tune.get_display_name }} |
        {% endif %}

        {% if tune.stars == 5 %}
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">

        {% elif tune.stars == 4 %}
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">

        {% elif tune.stars == 3 %}
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">

        {% elif tune.stars == 2 %}
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">

        {% elif tune.stars == 1 %}
            <img src=" {% static 'imgs/star.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">
            <img src=" {% static 'imgs/emptyStar.svg' %}">

        {% endif %}
      </span>

        <p>Key: {{ tune.key }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
  <div id="space"></div>
</div>
{% endblock %}