
:root {
    --tan: #D7BF9B;
    --accent: rgb(52, 146, 52);
    --green: #68603C;
    --card: white;
    --black: rgb(29, 29, 29);
    --background: rgb(255, 255, 255);
    --darkBlue: rgb(85, 97, 109);
    --accent: rgb(39, 113, 218);
    --accentDark: rgb(36, 104, 200);
 }
 

 /* BASE */


 #holder {
    width: 95%;
    background-color: var(--background);
    margin: 0 auto;
    min-height: 90vh;
 }

 @media only screen and (min-width: 480px){
    #holder {
        width: 85%;
    }
 }

 @media only screen and (min-width: 760px){
    #holder {
        width: 75%;
    }
 }

 .container {
    width: 80%;
    background-color: var(--background);
    margin: 0 auto;
}

* {
    font-family: Arial, Helvetica, sans-serif;

}
 
 body {
     background-color: var(--black);
     margin: 0 auto;
     font-family: 'Inter', sans-serif;
     
 }

 body > * {
    background-color: var(--background);
 }


 .container {
    background-color: var(--background);
 }


 

 
 
 /* HOME */

 #buttonHome {
    display: flex;
    justify-content: center;
    gap: 5vmin;
    margin-bottom: 5vmin;
} 
 
 #registerBtn > a {
     color: white;
     padding: 2vmin;
 }
 
 #registerBtn {
    background-color: var(--accent);
    font-size: 4vmin;
    border-radius: 200px;
    color: white;
    padding: 1vmin;
    font-weight: bold;
 }

 #registerBtn:hover {
    background-color: var(--background);
    color: var(--accent);
    outline: 3px solid var(--accent);
 }

 #registerBtn > a:hover {
    color: var(--accent);

 }
 
 #learnBtn > a {
     color: white;
     padding: 2vmin;
 }
 
 #learnBtn {
     background-color: var(--darkBlue);
 }
 
 #homepageImg {
     border-radius: 5px;
     margin: 0 auto;
     padding-top: 8vmin;
     display: block;
     width: 80%;
 }

 #welcomeMsg {
    text-align: center;
    background-color: var(--background);
 }
 
 #homeTitle {
    text-align: center;
    font-size: 5vmin;
    background-color: var(--background);
}
  
 @media only screen and (min-width:576px){
    
    #buttonHome > button {
        font-size: 2vmin;
        border-radius: 200px;
        border: none;
        color: white;
    }

 }

 @media only screen and (min-width:992px){
    
    #welcomeMsg {
        font-size: 3vmin;
    }

    #homepageImg {
        border-radius: 5px;
        margin: 0 auto;
        padding-top: 8vmin;
        display: block;
        width: 40%;
    }
 }
 
 /* NAV BAR */
 #nav-bar {
     display: flex;
     padding-top: 2vmin;
     padding-bottom: 2vmin;
     width: 100%;
     margin: 5vmin auto 0 auto;
     gap: 1vmin;
     align-items: center;
     background-color: var(--background);
     border-bottom: 5px solid var(--black);
     justify-content: space-between;
 }

 @media only screen and (min-width: 480px){
    #nav-bar {
        gap: 0;
        justify-content: space-between;
    }
 }
 
 #navDiv {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 #navDiv > a {
     text-decoration: none;
     color: var(--black);
     font-size: 2.5vmin;
     padding: 1vmin;
 }

 #navDiv > a:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: rotate(2deg);
 }
 
 #nav-bar > hover {
     color: rgb(162, 159, 159);
     cursor: pointer;
 }

 #nav-normal {
    justify-content: center;
 }

 #navDiv {
    display: flex;
    gap: 2vmin;
 }

 #homeBtnDiv {
    margin-left: 2vmin;
    font-family: 'Caveat', cursive;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif; */
 }

 #homeBtnDiv > * {
    font-family: 'Caveat', cursive;
    color: var(--black);
    font-size: 5vmin;
 }

 #tuneCollector:hover {
    font-weight: 600;
 }

 #nav-login {
    display: flex;
    justify-content: end;
    gap: 5vmin;
    /* font-size: 4vmin; */
    margin-right: 2vmin;
 }

 #nav-login > a {
    color: var(--background);
 }

 #loginBtn, #logoutBtn {
    font-size: 3vmin;
    background-color: var(--black);
    color: var(--background);
    border: 2px solid var(--black);
    width: 10vmin;
    text-align: center;
    height: 2.5vmin;
    align-items: center;
    border-radius: 5px;
    padding: 1vmin;
 }

 #logoutBtn:hover, #loginBtn:hover {
    background-color: var(--background);
    border-color: var(--black);
    color: var(--black);
 }

 @media only screen and (min-width: 480px) {
    #loginBtn, #logoutBtn {
        font-size: 2.5vmin;
        width: 8vmin;
    }
 }

 @media only screen and (min-width: 760px) {
    #loginBtn, #logoutBtn {
        font-size: 2vmin;
        width: 6vmin;
    }

    #navDiv > a {
        font-size: 2vmin;
    }
 }

 @media only screen and (min-width: 1060px) {
    #navDiv > a {
        font-size: 3vmin;
    }
 }


 /* REGISTER FORM */

 #registerForm {
    padding: 2vmin 4vmin;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    width: 85%;
    margin: 10vmin auto;
 }

 #registerForm > p {
    font-size: 3vmin;
 }

 #ex {
    color: red;
    font-size: 2vmin;
 }

 .registrationBtn {
    background-color: var(--accent);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 2vmin;
 }

 #fieldId {
    width: 100%;
 }
 #fieldId > input, textarea {
    width: 97.5%;
    height: 5vmin;
    margin-bottom: 1vmin;
    margin-top: 1vmin;
 }

 .logHeader {
    font-size: 6vmin;
    text-align: center;
    padding: none;
 }

 

 /* ABOUT */
 
 #aboutDiv {
    background-color: var(--black);
    width: 90%;
    color: var(--background);
    padding: 3vmin;
    margin: 20vmin auto 0 auto;
    text-align: center;
    min-height: 50vmin;
    border-radius: 5px;
 }

 #aboutTitle {
    font-size: 8vmin;
    margin-top: 2vmin;
    text-align: center;
 }

 #aboutPara {
   font-size: 4.5vmin;
 }


 @media only screen and (min-width: 760px){
    #aboutDiv {
        margin-top: 5vmin;
        min-height: 40vmin;
    }

    #aboutPara {
        font-size: 2vmin;
      }

      #aboutTitle {
        font-size: 5vmin;
     }
 }

 @media only screen and (min-width: 1060px){
    #aboutDiv {
        margin-top: 5vmin;
        min-height: 30vmin;
        width: 60vmin;
    }
 }
 
 /* ADD A TUNE */
 #addTitle {
     text-align: center;
 }
 
 #containerForm > form > table {
     width: 10vmin;
 }
 
 #btnAddTune {
     font-size: 6vmin;
     width: 100%;
     height: 9vmin;
     background-color: var(--blue);
     text-transform: uppercase;
     letter-spacing: 1px;
     border: 1px solid rgb(97, 111, 125);
 }
 
 #tableForm {
     display: flex;
     flex-direction: column;
     gap: 1vmin;
     width: 100%;
 }
 
 #tableForm > * {
     font-size: 5vmin;
     font-weight: 800;
 }
 
 @media only screen and (min-width:450px){
    
    #registerForm {
        padding: 2vmin 4vmin;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 1px black;
        width: 65%;
        margin: 10vmin auto;
     }

        #tableForm > * {
        font-size: 3vmin;
    }
 }

 @media only screen and (min-width:576px){

  #tableForm > * {
        font-size: 3vmin;
    } 
 }

 @media only screen and (min-width:780px){

    .logHeader {
        font-size: 4vmin;
     }
    
    #registerForm {
        width: 45%;
     }


    #tableForm > * {
          font-size: 2vmin;
      } 
   }
 
 
 
 /* INDEX */
 
 #keyChange {
     margin-top: 7vmin;
     display: flex;
     flex-direction: row;
     /* border: 1px solid black; */
     justify-content: space-between;
 }
 
 #keyChange > a {
     background-color: white;
     border-radius: 2px;
     padding: 4px;
 }
 
 #keyChange > * {
     display: inline-flex;
 }
 
 a:link {
     text-decoration: none;
 }
 
 .card {
     background-color: var(--card);
     border: 1px solid black;
     border-radius: 5px;
     padding: 1vmin;
     margin-bottom: 1vmin;
     text-decoration: none;
 }
 
 .card-content > * {
     text-decoration: none;
     color: rgb(32, 31, 31);
     font-size: 5vmin;
 }
 
 .card-content {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 1vmin;
 }
 
 .card-content > * {
     padding: 0;
     margin: 0;
 }
 
 .card-title {
     color: black;
 }
 
 /* SHOW/ DETAIL PAGE */
 
 a:link {
     text-decoration: none;
 }
 
 .card-detail {
     background-color: var(--card);
     border: 1px solid black;
     border-radius: 5px;
     padding: 1vmin;
     margin-bottom: 1vmin;
     text-decoration: none;
 }
 
 .card-detail:hover {
     cursor: pointer;
     background-color: rgb(128, 147, 165);
 }
 
 .card-content-detail > * {
     text-decoration: none;
     color: rgb(32, 31, 31);
     font-size: 5vmin;
 }
 
 .card-content-detail {
     display: flex;
     flex-direction: column;
     padding: 1vmin;
     gap: 2vmin;
 }
 
 .card-content-detail > * {
     padding: 0;
     margin: 0;
 }
 
 .card-title-detail {
     color: black;
 }
 
 .card-action {
     display: flex;
     justify-content: space-between;
     padding: 1vmin 1.5vmin;
 }